* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
}

.body-header-style {
  background-color: #404041;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-h1-style {
  color: #DD1972;
  margin: 20px 0 0 0;
  font-size: 300%;
}

.header-h1-light-font {
  font-weight: 300;
}

.header-section-style{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header-h4-style {
  color: white;
  margin: 0 0 20px 0;
  font-weight: 300;
  margin: auto 5px auto 5px;
  text-align: center;
}

.header-div-style {
  border: 1px solid white;
  width: 75px;
  height: 0;
}

.full-page-sections {
  display: flex;
}

.main-section1-forms {
  background-color: #f7f7f7;
  width: 50%;
  border: 1px solid #d0d2d3;
  height: 675px;
  overflow: scroll;
}

.section1-setrangeForm {
  background-color: white;
  color: black;
  border: 1px solid #d0d2d3;
  margin: 10px auto 10px auto;
  width: 95%;
}

.form-h3-style {
  width: 95%;
  margin: 10px auto 5px auto;
  font-weight: 700;
}

.setrangeform-rangeforms-plus-button {
  display: flex;
  width: 95%;
  margin: 0px auto 20px auto;
}

.setrangeform-rangebox-plus-label {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-right: 5%;
}

.setrangeform-textbox {
  font-size: 125%;
}

.setrangeform-updatebutton {
  width: 30%;
  color: white;
  background-color: #D0D2D3;
  border-radius: 20px;
  margin: auto 10px 0 10px;
  font-size: 100%;
  font-weight: 700;
  padding: 7px;
  border: 0;
}

button.updatebutton-active {
  width: 25%;
  color: white;
  background-color: #404041;
  border-radius: 20px;
  margin: auto 10px 0 10px;
  font-size: 100%;
  font-weight: 700;
  padding: 7px;
  border: 0;
  cursor: pointer;
}

button.updatebutton-active:hover {
  width: 25%;
  color: white;
  background-color: #dd1972;
  border-radius: 20px;
  margin: auto 10px 0 10px;
  font-size: 100%;
  font-weight: 700;
  padding: 7px;
  border: 0;
}

.section2-challenger-forms {
  background-color: white;
  color: black;
  border: 1px solid #d0d2d3;
  margin: 10px auto 10px auto;
  width: 95%;
}

.section2-para-currentrange {
  width: 95%;
  margin: 10px auto 15px auto;
}

.range-number {
  font-weight: 700;
  text-decoration: underline;
}

.challenger1-forms {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 0px auto 20px auto;
}

.challengerform-namebox-plus-label {
  width: 57%;
}

.challengerform-textbox {
  width: 100%;
  font-size: 125%;
}

.namebox-error {
  color: #dd1972;
  margin: 0;
}

.error-icon {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  font-size: 10pt;
}

.challengeform-guessbox-plus-label {
  width: 37%;
  margin-right: 10px;
}

.challengeform-guessbox {
  width: 100%;
  font-size: 125%;
}

.challengeform-error {
  border: 4px solid #dd1972;
}

.section2-button-list {
  display: flex;
  justify-content: space-around;
}

button.submit-active {
  width: 40%;
  color: white;
  border-radius: 20px;
  margin: auto 10px 10px 10px;
  padding: 7px;
  font-weight: 700;
  font-size: 100%;
  background-color: #404041;
  cursor: pointer;
}

button.submit-active:hover {
  width: 40%;
  color: white;
  border-radius: 20px;
  margin: auto 10px 10px 10px;
  padding: 7px;
  font-weight: 700;
  font-size: 100%;
  background-color: #dd1972;
}

.section2-submit-button {
  width: 40%;
  color: white;
  background-color: #D0D2D3;
  border-radius: 20px;
  margin: auto 10px 10px 10px;
  padding: 7px;
  font-weight: 700;
  font-size: 100%;
}

button.reset-active {
  width: 30%;
  color: white;
  background-color: #404041;
  border-radius: 20px;
  margin: auto 10px 10px 10px;
  padding: 7px;
  font-weight: 700;
  font-size: 100%;
  cursor: pointer;
}

button.reset-active:hover {
  width: 30%;
  color: white;
  background-color: #dd1972;
  border-radius: 20px;
  margin: auto 10px 10px 10px;
  padding: 7px;
  font-weight: 700;
  font-size: 100%;
}

.section2-clear-reset-button {
  width: 30%;
  color: white;
  background-color: #d0d2d3;
  margin: 0 10px 10px 10px;
  padding: 7px;
  font-weight: 700;
  font-size: 100%;
  border-radius: 20px;
}

button.clear-active {
  width: 30%;
  color: white;
  background-color: #404041;
  margin: 0 10px 10px 10px;
  padding: 7px;
  font-weight: 700;
  font-size: 100%;
  border-radius: 20px;
  cursor: pointer;
}

button.clear-active:hover {
  width: 30%;
  color: white;
  background-color: #dd1972;
  margin: 0 10px 10px 10px;
  padding: 7px;
  font-weight: 700;
  font-size: 100%;
  border-radius: 20px;
}

.section1-article-style {
  width: 95%;
  border: 1px solid #d0d2d3;
  margin: 10px auto 10px auto;
  background: white;
}

.article-h3-style {
  width: 93%;
  margin: 10px auto 10px auto;
}

.article-section-guess {
  display: flex;
  margin-bottom: 20px;
}

.article-challenger-guess {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h4-challenger-style {
  margin: 0;
  text-align: center;
}

.challenger-vert-line {
  width: 0;
  height: 150px;
  border: 1px solid #d0d2d3;
}

.challenger-guess-style {
  font-size: 400%;
  margin: 0;
  font-weight: 700;
  color: #dd1972;
}

.challenger-paragraph {
  margin: 0px 10px 0px 10px;
}

.main-section2-cards {
  overflow: auto;
  background-color: #d0d2d3;
  width: 50%;
  border: 1px solid #404041;
  height: 675px;
}

.section2-card-background {
  background-color: white;
  width: 90%;
  margin: 10px auto 5px auto;
  border: 3px solid #d0d2d3;
  text-align: center;
}

.hidden {
  display: none;
}

.section2-card-header {
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px 5px 0px;
}

.card-header-h4 {
  margin: auto;
  font-size: 125%;
}

.card-header-p {
  font-weight: 300;
  font-size: 90%;
}

.card-div-style {
  border: 1px solid #f7f7f7;
  width: 90%;
  height: 0;
  margin: auto;
}

.section2-body-h1 {
  font-size: 300%;
  font-weight: 700;
  width: 90%;
  margin: 15px auto 15px auto;
  display: flex;
  flex-direction: column;
}

.challenger-winner-capitalize {
  text-transform: uppercase;
  overflow: auto;
  animation: color-change 4s;
}

.section2-card-footer {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 10px 20px;
  align-items: center;
}

.card-footer-p {
  font-weight: 300;
  font-size: 110%;
}

.card-footer-button {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #404041;
  color: #f7f7f7;
  font-size: 90%;
  font-weight: 300;
}

.card-footer-button:hover {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #dd1972;
  color: #f7f7f7;
  font-size: 90%;
  font-weight: 300;
  cursor: pointer;
}

.section2-font-strong {
  font-weight: 700;
}

.section2-font-light {
  font-weight: 300;
}

.fade-in {
  animation-name: fading-in;
  animation-duration: 2s;
}

.color-change {
  animation-name: color-change;
  animation-duration: 4s;
}

@keyframes fading-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes color-change {
  from {
    color: #FFFC51;
  }
  10% {
    color: #FF7135;
  }
  20% {
    color: #D226F0;
  }
  30% {
    color: #D226F0;
  }
  40% {
    color: #6D1CE5;
  }
  50% {
    color: #4224E6;
  }
  60% {
    color: #1689E2;
  }
  70% {
    color: #08ED17;
  }
  80% {
    color: #CAFC09;
  }
  90% {
    color: #FFAE00;
  }
  100% {
    color: black;
  }
}

@media screen and (max-width: 550px) {
  .full-page-sections {
    flex-direction: column;
  }
  .main-section1-forms {
    width: 100%;
    height: 700px;
  }
  .main-section2-cards {
    width: 100%;
  }
  .header-h1-style {
    font-size: 200%;
  }
  .header-div-style {
    width: 45px;
  }
}
