body {
  font-family: 'Open Sans';
}

.body-header-style {
  background-color: #404041;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-h1-style{
  color: #DD1972;
  margin: 20px 0 0 0;
  font-size: 300%;
}

.header-h1-light-font {
  font-weight: 300;
}

.header-h3-style {
  color: white;
  margin: 0 0 20px 0;
  font-weight: 300;
}
