body {
  font-family: 'Open Sans';

}

.body-header-style {
  background-color: #404041;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-h1-style{
  color: #DD1972;
  margin: 20px 0 0 0;
  font-size: 300%;
}

.header-h1-light-font {
  font-weight: 300;
}

.header-section-style{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header-h4-style {
  color: white;
  margin: 0 0 20px 0;
  font-weight: 300;
  margin: auto 5px auto 5px;
}

.header-div-style {
  border: 1px solid white;
  width: 75px;
  height: 0;
}

.full-page-sections {

  display: flex;


}
.main-section1-forms {

  background-color: #f7f7f7;
  width: 50%;
  height: 700px;
  padding: 0;
  border: 1px solid #d0d2d3;

}

.section1-setRangeForm {

  background-color: white;
  color: black;
  border: 1px solid #d0d2d3;
  margin: 10px auto 10px auto;
  /* padding-top: 0%; */
  height: 16.5%;
  width: 95%;
  display: block;

}

.form-h3-style {

  width: 95%;
  margin: 10px auto 0 auto;
  font-weight: 700;
}

.setRangeForm-rangeforms-plus-button {

  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  width: 95%;
  align-items: flex-end;
  margin: 0px auto 10px auto;

}

.setRangeForm-rangeBox-plus-label {

  display: flex;
  flex-direction: column;
  width: 37%;
  margin-right: 5%;
}

.setRangeForm-label {


}

.setRangeForm-textbox {
  width: 100%;
  font-size: 125%;

}

.setRangeForm-updateButton {

  height: 100%;
  width: 25%;
  color: white;
  background-color: #404041;
  border-radius: 20px;
  margin: auto 10px 0 10px;
  font-size: 100%;
  font-weight: 700;
  padding: 7px;
  /* border: 0; */
}

.section2-para-currentRange {
  width: 95%;
  margin: 10px auto 0 auto;

}

.min-range-number {
  font-weight: 700;
  text-decoration: underline;
}

.max-range-number {
  font-weight: 700;
  text-decoration: underline;
}

.section2-challenger-forms {
  background-color: white;
  color: black;
  border: 1px solid #d0d2d3;
  margin: 10px auto 10px auto;
  /* padding-top: 0%; */
  /* height: 50%; */
  width: 95%;
  /* display: block; */


}

.challenger1-forms {

  display: flex;
  justify-content: space-between;
  /* flex-direction: row; */
  width: 95%;
  align-items: flex-end;
  margin: 0px auto 10px auto;


}

.challengerForm-nameBox-plus-label {

  /* display: flex; */
  flex-direction: column;
  /* width: 37%%; */

}

.challengerForm-textbox {

  width: 150%;
  font-size: 125%;
  margin-bottom: 20px;
}

.challengeForm-guessBox-plus-label {

  display: flex;
  flex-direction: column;
  width: 37%;

  /* margin-right: 5%; */
}

.challengeForm-guessbox {

  width: 100%;
  font-size: 125%;
  margin-bottom: 20px;
}

.section2-button-list {

  display: flex;
  justify-content: space-around;
}

button.submit-active {
  width: 40%;
  color: white;
  border-radius: 20px;
  margin: auto 10px 10px 10px;
  padding: 7px;
  font-weight: 700;
  font-size: 100%;
  background-color: #404041;
}

.section2-submit-button {

  /* height: 100%; */
  width: 40%;
  color: white;
  background-color: #D0D2D3;
  border-radius: 20px;
  margin: auto 10px 10px 10px;
  padding: 7px;
  font-weight: 700;
  font-size: 100%;

}



.section2-clear-reset-button {
  /* height: 100%; */
  width: 30%;
  color: white;
  background-color: #d0d2d3;
  margin: auto 10px 10px 10px;
  padding: 7px;
  font-weight: 700;
  font-size: 100%;
  border-radius: 20px;
}

.section1-article-style {
  width: 95%;
  border: 1px solid #d0d2d3;
  margin: 10px auto 10px auto;
  background: white;
}

.article-h3-style {
  width: 40%;
  margin: 5px 0 5px 3%;
  /* border: 1px solid blue; */
}

.h5-challenger-style {
  margin: 0;
  /* border: 1px solid blue; */

}


/* .challenger-vert-line {
  width: 0;
  height: 200px;
  border: 1px solid #d0d2d3;
  margin: 0 auto 0 auto;
  position: absolute;
  top: 80%;
  left: 27.5%;
} */

.article-section-guess {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  /* border: 1px solid blue; */

}

.article-challenger-guess {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid blue; */
  margin: 0 5% 0 5%;
}

.challenger1-guess-style {
  font-size: 400%;
  margin: 0;
  font-weight: 700;
  color: #dd1972;
  /* border: 1px solid blue; */

}

.challenger-paragraph {
  margin: 0px 10px 0px 10px;
  /* border: 1px solid blue; */
}

.main-section2-cards {

  background-color: #d0d2d3;
  width: 50%;
  height: 700px;
  padding: 0;
  border: 1px solid #404041;

}

.section2-card-background {

  background-color: white;
  width: 90%;
  height: 25%
  border: 1px solid #d0d2d3;
  margin: 10px auto 7px auto;
  text-align: center;

}

.section2-card-header {

  margin: auto;
  height: 25%;
  width: 100%;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;


}

.card-header-h4 {

  /* display: inline; */
  margin: auto;
  font-size: 125%;

}

.card-header-p {

  /* display: inline; */
  /* margin: auto 0px  auto 0px; */
  font-weight: 300;
  font-size: 85%;
  /* margin-top: 25px; */

}

.card-div-style {
  border: 1px solid #f7f7f7;
  width: 90%;
  height: 0;
  margin: auto;
}


.section2-body-h1 {

  font-size: 300%;
  font-weight: 700;
  margin: 20px;
  display: flex;
  flex-direction: column;

}
  .section2-card-footer {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 0 20px;
  align-items: center;
}

.card-footer-p {
  font-weight: 300;
  font-size: 100%;
  /* margin-bottom: 20px; */

}

.card-footer-button {

  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #404041;
  color: #f7f7f7;
  font-size: 16pt;
  font-weight: 300;
  /* text-align: center; */



}

.section2-font-strong {

  font-weight: 700;
}

.section2-font-light {

  font-weight: 300;
}
